body,html{
	margin:0px;padding:10px;overflow:hidden;font-size:12px;
	background:#FFCC66 url(../image/img.gif);color:#333;font-family:tahoma;
}
.title{font-size:14px;background:url(../image/img2.gif) no-repeat;padding-left:30px;}
#ldh_ui_window{
	width:840px;height:520px; position:absolute;
	background:#fff url(../image/img3.gif) repeat-x 0 32px;
	border:2px solid #4A84C4;border-top:none; 
	left:50%;margin-left:-420px;
	top:50%;margin-top:-260px;
}
#ldh_ui_caption{
	height:32px;line-height:32px;text-indent:1em;
	background:url(../image/img4.gif) repeat-x; text-align:center; 
}
#ldh_ui_body_left{
	width:300px;height:450px;overflow:auto;
	position:absolute;left:10px;top:55px;
	border:1px solid #4A84C4; 
}
#editWindow{width:500px;position:absolute;left:325px;top:55px;	border:1px solid #4A84C4;}
#tree_cap{height:18px;line-height:18px;text-align:center;background:url(../image/img5.gif) repeat-x;}
/* toolbar */
#subToolbar{
	height:29px;background:url(../image/img6.gif) repeat-x 50% 50%;line-height:29px;	position:relative;width:100%;text-indent:10px;
}
#subToolbar a{
	color:#000;background:url(../image/img7.gif) no-repeat 0% 50%; padding-left:20px;text-decoration:none;
}
#subToolbar span{position:absolute; right:10px;bottom:4px;}
#subToolbar a:hover{color:#fff;background-image:url(../format.gif);text-decoration:underline;}
#subToolbar a#save_as{background-image:url(../image/img9.gif); }
#subToolbar a#format_indent{background-image:url(../image/img8.gif); }
#subToolbar a#update{background-image:url(../image/img10.gif); }
#subToolbar a#format_compress{background-image:url(../image/img11.gif); }
#subToolbar a#clear_txt{background-image:url(../image/img12.gif); }
/* end */
#json_eidit{
	width:497px; border:none;margin:0px;color:#000; 
	height:340px;font-size:14px;
}
.json_editInfo{
	line-height:160%; border:1px solid #4A84C4;
	width:483px;+width:500px; height:65px; color:#003300; 
	position:absolute;left:325px;bottom:12px;
}
#json_editInfo{
	height:48px; padding-left:60px;padding-top:10px;
	background:url(../image/img13.gif) no-repeat 28px 12px;
}
#json_editInfo b{color:red}
#ldh_ui_window .err{color:red;background-image:url(../image/img14.gif);}
#ldh_ui_window .busy{color:#333;background-image:url(../image/img15.gif);}
#ldh_ui_window .info{color:#006600;background-image:url(../image/img16.gif);}
#json_editInfo input{width:50px;border:1px solid #4A84C4;height:14px;}
#json_editInfo  button{
	background:url(../image/img17.gif) no-repeat;
	width:70px;height:20px;line-height:20px;text-align:center;
	border:none;color:#114060;letter-spacing:5px;margin-left:10px;
}
/* for tree */
img,input,select{vertical-align:middle}
#ldh_ui_window #tree{white-space:nowrap;font-size:12px;line-height:24px;}
#tree a{text-decoration:none;color:#333;}
#tree a:hover,#tree a.hot{color:#000;background:#0B92FF;}
dd,dl,dt{padding:0;margin:0;border:none;font-size:12px;}
dt img{vertical-align:middle;}
dt{height:20px;white-space:nowrap;}
